@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: #3e3e3e;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 25px;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #ff5252 !important;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background: #f5f0f0 !important;
}

.container {
  width: 90%;
  margin: auto;
}

.btn-org {
  background: #ff5252 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 7px 20px !important;
}
.btn-org:hover {
  background: #171717 !important;
}

.link:hover {
  color: #ff5252 !important;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

header {
  background: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  background: white !important;
  border-radius: 50%;
  padding: 22px;
}

.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  padding: 18px;
}

.smlBtn .swiper-button-prev:after, .smlBtn .swiper-button-next:after {
  font-size: 12px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #ff5252 !important;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: black;
  font-size: 14px;
}

.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next {
  width: 12px !important;
  height: 12px !important;
  min-width: 12px !important;
  padding: 15px;
}

.homeCatSlider {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev:after, .homeCatSlider .swiper-button-next:after {
  font-size: 10px !important;
}

.homeCatSlider .swiper-button-prev {
  left: 0px !important;
}

.homeCatSlider .swiper-button-next {
  right: 0px !important;
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px 0 !important;
}

footer form input::placeholder {
  font-size: 14px;
  color: #999 !important;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #ff5252 !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 1.2s;
}
.homeSliderV2 .info h2 {
  transition-duration: 1.5s;
}
.homeSliderV2 .info h3 {
  transition-duration: 1.8s;
}
.homeSliderV2 .info .btn_ {
  transition-duration: 2.1s;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.itemViewAction button.active svg {
  color: #ff5252 !important;
  opacity: 1;
}

.Mui-selected.MuiPaginationItem-page, .Mui-selected.MuiPaginationItem-page:hover {
  background: #ff5252 !important;
  color: #fff !important;
}

.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 38px !important;
}
.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-prev {
  top: 20px !important;
  left: 0px !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-next::after, .zoomProductSliderThumbs .swiper-button-prev::after {
  transform: rotate(90deg);
}

.productContent .actions button {
  min-width: 40px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

